
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:  2rem;
  text-align: center;
  
}
@font-face {
  font-family: kaotic;
  src: url("./assets/fonts/EnchantedLand.otf");
}

*{
  font-family: "kaotic";
  color: #fc4b08;
  text-shadow: whitesmoke;
  -webkit-text-stroke-width: 1px; /* adjust width as needed */
  -webkit-text-stroke-color: #000; /* adjust color as needed */
}

.btn-st{
  
    font-family: "kaotic";
    color: #fc4b08;
    text-shadow: whitesmoke;
    -webkit-text-stroke-width: 0.02px; /* adjust width as needed */
    -webkit-text-stroke-color: #000; /* adjust color as needed */

}

body {
  background-image: url("./assets/images/door.jpeg");
  background-repeat: no-repeat; /* ensure the image is only shown once */
  background-size: contain; /* scale the image to fit the container */
  background-position: center; /* center the image horizontally and vertically */
  background-size: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  height: 600px;
  background-color: trans;
  padding: 30px;
  border-radius: 320px;
}

.center-container {
  position: absolute;
  border-radius: 300px;
  background-color: black;
  width: 600px;
  height: 600px;
}

.pad {
  width: 250px;
  margin: 25px;
}

.pad:hover {
  cursor: pointer;
}

.pad-0{
  
  border-top-left-radius: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pad-1{
  border-top-right-radius: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pad-2{
  border-bottom-left-radius: 300px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pad-3{
  border-bottom-right-radius: 300px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}